:root {
    --primary-color: #649eff;
    --accent-color: ##5276EE;
    --secondary-color: #000000;
    --tertiary-color: #000000;
    --quaternary-color: #000000;
    --white-color: #ffffff;
    --text-color-primary: #535353;
    --text-color-secondary: #CFCFCF;
    --text-color-tertiary: #000000;
    --text-color-quaternary: #000000;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
}


/* Fade animations for both directions */
.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.3s ease;
}
.slide-up-enter-from {
    transform: translateY(15px);
    opacity: 0;
}
.slide-up-leave-to {
    transform: translateY(-15x);
    opacity: 0;  
}

.shadow-custom {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
